@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:800,400,500,700,600|Alatsi:400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Kalinga-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/5cde3625a46238000b9dc9d0/kalinga.ttf") format("truetype");
}

@font-face {
  font-family: "Kalinga-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/5dcd8a8f9d9bf3d1c4e51f4c/kalingab.ttf") format("truetype");
}
